body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  height: 100vh;
  width: 60%;
}

@media screen and (min-width: 768px) {
  .bg-container {
    height: 100vh;
    width: 100%;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cffafe;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
}
@media screen and (min-width: 768px) {
  .bg-container {
    width: 90%;
  }
}

.main-heading {
  font-family: Roboto;
}

.img-size {
  height: 100px;
  width: 100px;
}

@media screen and (min-width: 768px) {
  .img-size {
    height: 200px;
    width: 200px;
  }
  .main-heading {
    font-size: 25px;
  }
}

.para {
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
}
.name {
  font-family: Roboto;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .para {
    font-size: 30px;
  }
  .name {
    font-size: 20px;
  }
}
